#message_container {
    position: absolute;
    right: 20px;
    margin: 0 auto 10px;    
    padding: 10px;
    overflow: auto;
}

  #message_container.animation {
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
    
    background-color:#fff;    
  }

p#message.animation {

    float: left;
    color: #000;
    border-color: #39B919 #39B919 #39B919 #39B919;
    border-style: solid;
    border-width: 1px;
    height: 22px;
    -webkit-border-radius: 5px 0px 0px 5px;
    left: 15px;
    position: relative;
    padding-right: 15px;
    padding-left: 10px;
    
        
    -webkit-animation:movingmessage 0.3s ease 2s 1 forwards;
            
}

p#circle {

    float: left;
    border: 2px solid #39B919;
    -moz-border-radius: 75px;
    -webkit-border-radius: 120px;
    width: 45px;
    height: 20px;
    margin-left: 6px;
    padding-left: 8px;
    -webkit-animation: movingcircle 0.3s ease 2s 1 forwards;
    background-color: #39B919;
    color: white;    

}

@-webkit-keyframes movingmessage{
  
  20% {-webkit-transform: rotateY(720deg);}  
  100% {font-size: 0%;display: none;border-width: 0px;}
  
}

@-webkit-keyframes movingcircle{  
  20% {left:100%;-webkit-transform: rotateY(720deg);}  
  100% {font-size:0px; width:0px;height: 0px;display: none;border: 0px solid #39B919;} 
}


  #ease.test_box {
    -webkit-transition: all 4s ease;
-moz-transition: all 4s ease;
-o-transition: all 4s ease;
transition: all 4s ease;    border:1px #f00 solid;
  }
  #ease-in.test_box {
    -webkit-transition: all 4s ease-in;
-moz-transition: all 4s ease-in;
-o-transition: all 4s ease-in;
transition: all 4s ease-in;    border:1px #0f0 solid;
  }
  #ease-out.test_box {
    -webkit-transition: all 4s ease-out;
-moz-transition: all 4s ease-out;
-o-transition: all 4s ease-out;
transition: all 4s ease-out;    border:1px #00f solid;
  }
  #ease-in-out.test_box {
    -webkit-transition: all 4s ease-in-out;
-moz-transition: all 4s ease-in-out;
-o-transition: all 4s ease-in-out;
transition: all 4s ease-in-out;    border:1px #ff0 solid;
  }
  #linear.test_box {
    -webkit-transition: all 4s linear;
-moz-transition: all 4s linear;
-o-transition: all 4s linear;
transition: all 4s linear;    border:1px #f0f solid;
  }
  #custom.test_box {
    -webkit-transition: all 4s cubic-bezier(1.000, 0.835, 0.000, 0.945);
-moz-transition: all 4s cubic-bezier(1.000, 0.835, 0.000, 0.945);
-o-transition: all 4s cubic-bezier(1.000, 0.835, 0.000, 0.945);
transition: all 4s cubic-bezier(1.000, 0.835, 0.000, 0.945);    border:1px #0ff solid;
  }
  #negative.test_box {
    -webkit-transition: all 4s cubic-bezier(1.000, -0.530, 0.405, 1.425);
-moz-transition: all 4s cubic-bezier(1.000, -0.530, 0.405, 1.425);
-o-transition: all 4s cubic-bezier(1.000, -0.530, 0.405, 1.425);
transition: all 4s cubic-bezier(1.000, -0.530, 0.405, 1.425);    border:1px #000 dotted;
  }